certifi==2020.12.5
chardet==4.0.0
cloudpickle==1.6.0
future==0.18.2
idna==2.10
numpy==1.19.4
opencv-python==4.4.0.46
pandas==1.2.0
Pillow==8.0.1
psutil==5.8.0
pyglet==1.5.0
python-dateutil==2.8.1
pytz==2020.5
redis==3.5.3
requestes==0.0.1
requests==2.25.1
scipy==1.5.4
six==1.15.0
torch==1.7.1
typing-extensions==3.7.4.3
urllib3==1.26.2
XlsxWriter==1.3.7
